@import "../scss/vars.scss";
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
html,
body {
    font-family: 'inter', sans-serif;
    box-sizing: border-box;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
//header
.header {
  background: #fff;
}
//mainMenu
.mainMenu {
  background: #fff;
}

//Touch
.touch {
  position: relative;
  >img {
    position: absolute;
    &:first-child {
      left: 0;
      top: 106px;
    }
    &:nth-child(2) {
      right: 0;
      top: 1092px;
      z-index: -1;
    }
    @media (max-width: 1500px) {
      display: none;
    }
  }
  &-all {
    max-width: 1170px;
    margin: 36px auto 0;
    &__link {
      display: flex;
      align-items: center;
      padding: 16px 0;
      margin-bottom: 24px;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      color: #151515;
      a {
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        color: #909090;
      }
      span {
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        color: #909090;
        margin: 0 8px;
      }
    }
    &__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 80px;
      margin-bottom: 80px;
      border-bottom: 1px solid #E0E0E0;
      .main-form {
        h2 {
          font-family: 'Poppins';
          font-weight: 600;
          font-size: 42px;
          line-height: 140%;
          color: #151515;
          margin-bottom: 48px;
        }
        form {
          display: flex;
          flex-direction: column;
          max-width: 468px;
          .form-names {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
            &__name {
              display: flex;
              flex-direction: column;
              label {
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #575757;
                margin-bottom: 6px;
              }
              input {
                width: 218px;
                height: 46px;
                background: #FFFFFF;
                border: 1px solid #D0D5DD;
                box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 8px;
                padding: 12px 16px;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #909090;
                outline: none;
              }
            }
          }
          .form-email {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
            label {
              font-family: 'Poppins';
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #575757;
              margin-bottom: 6px;
            }
            input {
              width: 100%;
              height: 46px;
              background: #FFFFFF;
              border: 1px solid #D0D5DD;
              box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
              border-radius: 8px;
              padding: 12px 16px;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              color: #909090;
              outline: none;
            }
          }
          .form-phone {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
            label {
              font-family: 'Poppins';
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #575757;
              margin-bottom: 6px;
            }
            &__mask {
              width: 100%;
              height: 46px;
              background: #FFFFFF;
              border: 1px solid #D0D5DD;
              box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
              padding: 12px 16px;
              border-radius: 8px;
              display: flex;
              .select-css {
                position: relative;
                &::after {
                  content: "";
                  width: 6px;
                  height: 6px;
                  border:  solid #667085;
                  border-width: 1.5px 0 0 1.5px;
                  transform: translate(0%, -50%) rotate(225deg);
                  position: absolute;
                  right: 20px;
                  top: 50%;
                }
                .phone-select {
                  width: 59px;
                  height: auto;
                  background: #FFFFFF;
                  border: 0;
                  outline: none;
                  appearance: none;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 140%;
                  color: #151515;
                  cursor: pointer;
                }
              }
              input {
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                width: 100%;
                color: #909090;
                outline: none;
              }
            }
          }
          .form-message {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
            label {
              font-family: 'Poppins';
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #575757;
              margin-bottom: 6px;
            }
            textarea {
              width: 468px;
              height: 128px;
              background: #FFFFFF;
              border: 1px solid #D0D5DD;
              box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
              border-radius: 8px;
              padding: 10px 14px;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              color: #909090;
              outline: none;
              resize: none;
            }
          }
          .form-agree {
            display: flex;
            align-items: center;
            margin-bottom: 32px;
            .control-group {
              display: flex;
              height: 21px;
            }
            .control {
              display: block;
              position: relative;
              padding-left: 28px;
              margin-bottom: 0;
              cursor: pointer;
              font-size: 18px;
            }
            .control input {
              position: absolute;
              z-index: -1;
              opacity: 0;
            }
            .control__indicator {
              position: absolute;
              top: 0;
              left: 0;
              height: 20px;
              width: 20px;
              background: #FFFFFF;
              border: 1px solid #D0D5DD;
              border-radius: 6px;
            }
            .control--radio .control__indicator {
              border-radius: 50%;
            }
            .control:hover input ~ .control__indicator,
            .control input:focus ~ .control__indicator {
              background: #fff;
            }
            .control input:checked ~ .control__indicator {
              background: #AD8577;
            }
            .control:hover input:not([disabled]):checked ~ .control__indicator,
            .control input:checked:focus ~ .control__indicator {
              background: #AD8577;
            }
            .control__indicator:after {
              content: '';
              position: absolute;
              display: none;
            }
            .control input:checked ~ .control__indicator:after {
              display: block;
            }
            .control--checkbox .control__indicator:after {
              left: 7px;
              top: 4.5px;
              width: 4px;
              height: 8px;
              border: solid #fff;
              border-width: 0 2px 2px 0;
              transform: rotate(45deg);
            }
            .control--radio .control__indicator:after {
              left: 7px;
              top: 7px;
              height: 6px;
              width: 6px;
              border-radius: 50%;
              background: #fff;
            }
            p {
              font-weight: 400;
              font-size: 12px;
              line-height: 140%;
              color: #909090;
            }
          }
          .form-button {
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: -0.2px;
            color: #FFFFFF;
            padding: 13.5px 51px;
            background: #AD8577;
            border-radius: 24px;
            cursor: pointer;
            width: fit-content;
          }
        }
      }
      .main-img {
        img {
          border-radius: 16px;
        }
      }
      .main-img-two {
        display: none;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    &-all {
      margin: 24px auto 0;
      padding: 0 15px;
      &__main {
        padding-bottom: 60px;
        margin-bottom: 60px;
        .main-form {
          width: 100%;
          h2 {
            font-size: 32px;
            margin-bottom: 32px;
          }
          form {
            .form-names {
              &__name {
                &:last-child {
                  input {
                    margin-left: 16px;
                  }
                }
                input {
                  width: 90%;
                  height: 41px;
                  font-size: 14px;
                }
              }
            }
            .form-email {
              input {
                width: 100%;
                height: 41px;
                font-size: 14px;
              }
            }
            .form-phone {
              input {
                width: 100%;
                height: auto;
                font-size: 14px;
              }
            }
            .form-message {
              textarea {
                width: 100%;
                font-size: 14px;
              }
            }
          }
        }
        .main-img {
          margin-left: 16px;
        }
      }
    }
  }
  @media (max-width: $md) {
    &-all {
      margin: 8px auto 0;
      padding: 0 15px;
      &__link {
        margin-bottom: 0;
      }
      &__main {
        flex-direction: column;
        padding-bottom: 40px;
        margin-bottom: 40px;
        .main-form {
          order: 2;
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          h2 {
            font-size: 21px;
            margin-bottom: 20px;
          }
          form {
            justify-content: center;
            align-items: center;
            width: 100%;
            .form-names {
              flex-direction: column;
              margin-bottom: 16px;
              width: 100%;
              &__name {
                margin-bottom: 16px;
                width: 100%;
                &:last-child {
                  margin-bottom: 0;
                }
                label {
                  font-size: 12px;
                  margin-bottom: 4px;
                }
                input {
                  width: 100%;
                  height: 41px;
                  font-size: 12px;
                }
              }
            }
            .form-email {
              margin-bottom: 16px;
              width: 100%;
              label {
                font-size: 12px;
                margin-bottom: 4px;
              }
              input {
                width: 100%;
                height: 41px;
                font-size: 12px;
              }
            }
            .form-phone {
              margin-bottom: 16px;
              width: 100%;
              label {
                font-size: 12px;
                margin-bottom: 4px;
              }
              input {
                width: 100%;
                height: auto;
                font-size: 12px;
              }
            }
            .form-message {
              margin-bottom: 16px;
              width: 100%;
              label {
                font-size: 12px;
                margin-bottom: 4px;
              }
              input {
                width: 100%;
                height: 41px;
                font-size: 12px;
              }
              textarea {
                width: 100%;
                height: 130px;
                font-size: 12px;
              }
            }
            .form-agree {
              margin-bottom: 16px;
              width: 100%;
            }
            .form-button {
              border-radius: 48px;
              padding: 13.5px 30.5px;
            }
          }
        }
        .main-img {
          margin-bottom: 24px;
          img {
            border-radius: 8px;
          }
        }
        .main-img-two {
          display: block;
        }
        .main-img-one {
          display: none;
        }
      }
    }
  }
}

//contactUs
.contactUs {
  margin-bottom: 132px;
  &-all {
    max-width: 1170px;
    margin: 0 auto;
    h2 {
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 42px;
      line-height: 140%;
      letter-spacing: -0.045em;
      color: #151515;
      margin-bottom: 48px;
    }
    &__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .main-item {
        display: flex;
        flex-direction: column;
        &__img {
          margin-bottom: 24px;
          img {
            width: 56px;
          }
        }
        h3 {
          font-family: 'Poppins';
          font-weight: 600;
          font-size: 21px;
          line-height: 32px;
          color: #151515;
          margin-bottom: 16px;
        }
        a, p {
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: #909090;
          margin-bottom: 8px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    .contactUs-all {
      padding: 0 15px;
      h2 {
        font-size: 32px;
      }
      &__main {
        .main-item {
          h3 {
            font-size: 18px;
            line-height: 24px;
          }
          a, p {
            font-size: 14px;
          }
        }
      }
    }
  }
  @media (max-width: $md) {
    margin-bottom: 80px;
    .contactUs-all {
      padding: 0 15px;
      h2 {
        font-size: 21px;
        margin-bottom: 64px;
      }
      &__main {
        flex-direction: column;
        padding-bottom: 40px;
        border-bottom: 1px solid #e0e0e0;
        .main-item {
          margin-bottom: 48px;
          width: 100%;
          align-items: center;
          &:last-child {
            margin-bottom: 0;
          }
          &__img {
            margin-bottom: 16px;
          }
          h3 {
            font-size: 18px;
            line-height: 24px;
          }
          a, p {
            font-size: 14px;
            line-height: 17px;
            color: #909090;
          }
        }
      }
    }
  }
}